
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    background-color: black;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 300px;
    height: 80px;
    background-color: rgba(250, 253, 253, 0.401);
    margin-top: 150px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 2px 2px 20px black;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.shape:hover{
    transform: translateX(10px);
    transition: 1s;
}
.search input{
    padding: 5px 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 15px;
    border: none;

}
#btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    border: none;

}
.w1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.w1 img{
    width: 200px;
    margin-top: -40px;

}
#temp{
    font-size: 60px;
    margin-top: -50px;
}
#city{
    font-size: 40px;
    margin-top: -30px;
}
.w2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 40px; 
}
.humidity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}
.humidity img{
    width: 70px;
}
.Wind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.Wind img{
    width: 60px;
}
#th{
    font: 20px;

}
#tw{
    font: 20px;
}
.weatherStatus{
    display: none;
}
.shape{
    width: 200px;
    height: 200px;
    background-color: rgb(154, 7, 7);
    position: absolute;
}
.shape1{
    left:825px;
    top: 200px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
.shape2{
    height: 100px;
    width: 100px;
    left: 547px;
    top: 481px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
#invalid{
    font-size: 15px;
    margin-left: 23px;
    margin-top: 3px;
    color: rgba(99, 14, 14, 0.792);
    display: none;
}